#nav {
    width: 100%;
    font-size: 12px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 2px;
    border:1px;
}

#nav ul {
    padding: 0;
    margin: 0;
    float: left;
    border:thin;
}

#nav li {
    display: inline;
    padding: 0;
}

#nav a {
    text-decoration: none;
    color: #000000;
    padding: 8px 8px 8px 8px;
}

#nav a:hover {
    color: #ffffff;
    background-color: #026d06;
}
